/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ General


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 14px Helvetica;
	font-weight: lighter;
	color: #626262;
	background-color: #f7f7f7;
	letter-spacing: 1px;
}

h3{
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.clear_fix{
	clear: both;
}

#main_content{
	margin-top: 15px;
}

input{
	background-color: #f4f4f4;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
}

h3, input, nav li.user.container, nav li a:hover{
	color: #2a248e;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/


#main_header{
	padding: 10px 0;
	background-color: #e5e5e5;
}

#logo{
	height: 86px;
	width: 100px;
	float: left;
}

h1{
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/logo.png) top center no-repeat;
}

#menu{
	display: none;
	height: 65px;
	width: 50px;
	float: right;
}

nav{
	background-color: #e5e5e5;
}

nav li{
	float: none;
	text-align: right;
}

nav li.container{
	padding: 14px 0 12px;
	font-size: 16px;
}

nav li a{
	color: #5a5a5a;
}

nav li.divider{
	height: 8px;
	background-color: #f7f7f7;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Search
---------------------------------------------------------------------------------------------------*/

input[type=search]{
	background: url(../images/search-icon.png) 97% 60% no-repeat;
}

#search_results{
	margin-top: 20px;
}

.result{
	border-top: 1px solid #e8e8e8;
	padding: 12px;
}

.user_img{
	width: 24%;
}

.user_img img{
	width: 100%;
}

.user_info{
	margin-left: 4%;
	width: 64%;
}

.user_info ul li{
	line-height: 25px;
}

.info_label{
	color: #05959a;
}

.social_icons{
	margin-top: 10px;
}

.social_icons li{
	padding-right: 9px;
}

.heart{
	width: 8%;
	opacity: .3;
	text-align: right;
	padding-top: 4px;
}

.user_img, .user_info, ul.social_icons li, .heart{
	float: left;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Media Queries
---------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 767px) {

	#logo{ height: 65px; width: 76px; }
	h1{ background: url(../images/logo-small.png) top center no-repeat; }
	#menu{ display: block; }

	form#search{ width: 100%; }
	input[type=search]{ font-size: 16px; width: 95%; }

	.heart img{ width: 100%; }
}

}

