/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ General


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 12px Helvetica;
	font-weight: lighter;
	color: #626262;
	background-color: #f7f7f7;
	letter-spacing: 1px;
}

h2, h3{
	font-weight: lighter;
	text-transform: uppercase;
}

h2{
	font-size: 16px;
	margin: 12px 0;
}

h3{
	font-size: 14px;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.clear_fix{
	clear: both;
}

#main_content{
	margin-top: 15px;
}

input{
	background-color: #f4f4f4;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	font-size: 12px;
}

h3, input, nav li.user.container, nav li a:hover, #sidebar_nav li a:hover{
	color: #2a248e;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/


#main_header{
	padding: 10px 0;
	background-color: #e5e5e5;
}

#logo{
	height: 56px;
	width: 65px;
	float: left;
}

h1{
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/logo.png) top center no-repeat;
}

#search_desktop{
	float: right;
	margin: 22px 0 0;
}

#search_desktop input[type=search]{
	background: url(../images/search-icon-small.png) 97% 60% no-repeat;
	padding: 5px;
	background-color: #f6f6f6;
	float: right;
	width: 100%
}

#menu{
	height: 50px;
	width: 35px;
	float: right;
}

nav, #account_info, #sidebar_nav li{
	background-color: #e5e5e5;
}

#menu, nav ul#mobile, #search_mobile{
	display: none;
}

nav li{
	float: none;
	text-align: right;
}

nav li.container{
	padding: 14px 0 12px;
	font-size: 14px;
}

nav li a, #sidebar_nav li a{
	color: #5a5a5a;
}

nav li.divider, #sidebar_nav li.divider{
	height: 8px;
	background-color: #f7f7f7;
	padding: 0;
}

#sidebar_nav li{
	padding: 8px;
	font-size: 12px;
}

#account_info{
	padding: 8px 8px 5px;
}

#account_info h3{
	line-height: 35px;
	margin-left: 15px;
	float: left;
}

.account_img{
	width: 15%;
	float: left;
}

.account_img img{
	width: 100%;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Search
---------------------------------------------------------------------------------------------------*/


#search_mobile{
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 20px;
}

#search_mobile input[type=search]{
	background: url(../images/search-icon.png) 97% 60% no-repeat;
	padding: 10px;
}

#sidebar_nav, #search_results{
	margin-top: 20px;
}

.result{
	padding: 12px;
}

.result, ul.more li.divide_info, ul.social_icons{
	border-top: 1px solid #e8e8e8;
}

.user_img{
	width: 24%;
}

.user_img img{
	width: 100%;
}

.user_info{
	margin-left: 4%;
	width: 64%;
}

.user_info ul li{
	line-height: 25px;
}

ul.more li.divide_info{
	margin-top: 5px;
	padding-top: 5px;
}

.info_label{
	color: #05959a;
}

.social_icons{
	margin-top: 5px;
	padding-top: 10px;
}

.social_icons li{
	padding-right: 9px;
}

.heart{
	width: 8%;
	opacity: .3;
	text-align: right;
	padding-top: 4px;
}

.user_img, .user_info, ul.social_icons li, .heart{
	float: left;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Media Queries
---------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 767px) {

	#sidebar_nav, #search_desktop{ display: none;}

	#logo{ height: 50px; width: 58px; }
	h1{ background: url(../images/logo-small.png) top center no-repeat; }
	#menu, nav ul#mobile, #search_mobile{ display: block; }

	form#search{ width: 100%; }
	input[type=search]{ font-size: 12px; width: 95%; }

	 #search_results{ margin-top:  5px;}

	.heart img{ width: 100%; }
}

}

