/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ General


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
		∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

body{
	font: 12px Helvetica;
	font-weight: lighter;
	color: #626262;
	background-color: #f7f7f7;
	letter-spacing: 1px;
}

h2, h3{
	font-weight: lighter;
	text-transform: uppercase;
}

h2{
	font-size: 16px;
	margin: 12px 0;
}

h3{
	font-size: 14px;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.clear_fix{
	clear: both;
}

#main_content{
	margin-top: 15px;
}

input, button{
	background-color: #f4f4f4;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	font-size: 12px;
}

fieldset{
	border: none;
}

h3, input, nav li.user.container, nav li a:hover, #sidebar_nav li a:hover{
	color: #2a248e;
}

#sidebar_nav, #results, #edit{
	margin-top: 20px;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Landing
---------------------------------------------------------------------------------------------------*/

#bg{
	background-attachment: fixed;
    background-image: url("../images/landing-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header#bg .container{
	margin: 100px auto 50px;
	padding: 40px 0 55px;
	background-color: rgba(229,229,229,.2);
	text-align: center;
}

#bg #logo{
	margin: 0 auto 15px;
	height: 120px;
	width: 135px;
	float: none;
}

#bg #logo h1{
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/logo-large.png) top center no-repeat;
}

header#bg p{
	margin: 20px 0;
	font-size: 26px;
	color: #d7d7d7;
	font-weight: lighter;
}

.twitter_login, .github_login{
	border-radius: 2px;
	border: 1px solid #bbbbbb;
	width: 180px;
	margin: 12px auto 0;
	padding: 10px 10px 6px;
}

.twitter_login{
	background-color: #31c4f8;
	margin-top: 30px;
}

.github_login{
	background-color: #d5d5d5;
	padding-bottom: 8px;
}

header#bg .twitter_login p, header#bg .github_login p{
	font-size: 14px;
	float: left;
	margin: 0 0 0 12px;
	line-height: 28px;
}

header#bg .twitter_login p{
	color: #fff;
}

header#bg .github_login p{
	color: #777;
}

.twitter_login img{
	height: 24px;
	width: 30px;
	float: left;
	margin: 0 0 0 5px;
}

.github_login img{
	height: 28px;
	width: 35px;
	float: left;
	margin: 0;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Header
---------------------------------------------------------------------------------------------------*/


#main_header{
	padding: 10px 0;
	background-color: #e5e5e5;
	z-index: 2;
	position: relative;
}

#logo{
	height: 56px;
	width: 65px;
	float: left;
}

h1{
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../images/logo.png) top center no-repeat;
}

#search_desktop{
	float: right;
	margin: 22px 0 0;
}

#search_desktop input[type=text]#search{
	background: url(../images/search-icon-small.png) 97% 60% no-repeat;
	padding: 5px;
	background-color: #f6f6f6;
	float: right;
	width: 100%
}

#menu{
	height: 50px;
	width: 35px;
	float: right;
}

nav{
	z-index: -1;
}

nav, #account_info, #sidebar_nav li{
	background-color: #e5e5e5;
}

#menu, nav ul#mobile, #search_mobile{
	display: none;
}

nav li{
	float: none;
	text-align: right;
}

nav li.container{
	padding: 14px 0 12px;
	font-size: 14px;
}

nav li a, #sidebar_nav li a{
	color: #5a5a5a;
}

nav li.divider, #sidebar_nav li.divider{
	height: 8px;
	background-color: #f7f7f7;
	padding: 0;
}

#sidebar_nav li{
	padding: 8px;
	font-size: 12px;
}

#account_info{
	padding: 8px 8px 5px;
}

#account_info h3{
	line-height: 35px;
	margin-left: 15px;
	float: left;
}

.account_img{
	width: 15%;
	float: left;
}

.account_img img{
	width: 100%;
	border-radius: 2px;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Search
---------------------------------------------------------------------------------------------------*/


#search_mobile{
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 20px;
}

#search_mobile input[type=text]#search{
	background: url(../images/search-icon.png) 97% 60% no-repeat;
	padding: 10px;
	width: 95%;
}

.result{
	padding: 12px;
}

.result, ul.more li.divide_info, ul.social_icons{
	border-top: 1px solid #e8e8e8;
}

.user_img{
	width: 24%;
}

.user_img img{
	width: 100%;
	border-radius: 2px;
}

.user_info{
	margin-left: 4%;
	width: 64%;
}

.user_info ul li{
	line-height: 25px;
}

ul.more li.divide_info{
	margin-top: 5px;
	padding-top: 5px;
}

.info_label{
	color: #05959a;
}

.social_icons{
	margin-top: 5px;
	padding-top: 10px;
}

.social_icons li{
	padding-right: 9px;
}

.heart{
	width: 8%;
	opacity: .3;
	text-align: right;
	padding-top: 4px;
}

.user_img, .user_info, ul.social_icons li, .heart{
	float: left;
}

/* ---------------------------------------------------------------------------------------------------
		∆ Edit
---------------------------------------------------------------------------------------------------*/

#edit_form{
	border-top: 1px solid #e8e8e8;
	margin-bottom: 30px;
}


#edit_form fieldset{
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 0;
}

.form_input{
	margin: 10px 0;
	clear: both;
}

.form_input label{
    display: block;
    float: left;
    line-height: 26px;
    padding-right: 10px;
    text-align: right;
    width: 110px;
    color: #05959a;
}

.form_input input{
	padding: 5px;
	float: left;
	margin-bottom: 10px;
	color: #626262;
	width: 300px;
}

#edit_form fieldset.buttons{
	border-bottom: none;
	padding: 15px 0 0;
}

fieldset.buttons input[type=submit]{
	padding: 5px;
	margin-right: 10px;
}

input[type=submit].save_profile{
	color: #2a248e;
}

input[type=submit].cancel{
	color: #626262;
}

input[type=submit].save_profile:hover, input[type=submit].cancel:hover{
	opacity: .5;
}


/* ---------------------------------------------------------------------------------------------------
		∆ Media Queries
---------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {

	#main_header{ padding: 10px 15px;}
	#search_desktop{ padding-right: 25px;}

	header#bg .container{ margin-top: 50px; width: 700px;}
	header#bg .container p{ margin: 15px 0; font-size: 18px; }
	header#bg .twitter_login p, header#bg .github_login p{font-size: 14px; 	float: left; margin: 0 0 0 12px; line-height: 28px; }

}

@media only screen and (max-width: 767px) {

	#main_content.move_up{ margin-top: -185px; }
	#main_content.move_down{ margin-top: 15px; }

	form#search, .heart img, .form_input label{ width: 100%; }
	#sidebar_nav, #search_desktop{ display: none;}

	#logo{ height: 50px; width: 58px; }
	h1{ background: url(../images/logo-small.png) top center no-repeat; }
	#menu, nav ul#mobile, #search_mobile{ display: block; }

	input[type=search]{ font-size: 12px; width: 95%; }

	#results, #edit{ margin-top:  3px;}

	#edit_form fieldset{ padding: 5px 0 15px; }
	.form_input{ margin: 8px 0; }
	.form_input label{ float: none; text-align: left;}
	.form_input input{ float: none; width: 96%; padding: 10px 2%; margin-bottom: 0;}

	#edit_form input[type=submit]{ width: 47%; padding: 10px 0; margin-right: 0; }

	#edit_form input[type=submit].save_profile{ margin-right: 4%;}

	header#bg .container{ margin-top: 50px; }
	header#bg .container p{ margin: 15px 0; font-size: 18px; }
	header#bg .twitter_login p, header#bg .github_login p{font-size: 14px; 	float: left; margin: 0 0 0 12px; line-height: 28px; }

}

